@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid white; */
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

/* font */
.h1 {
  font-size: 64px;
}

.h2 {
  font-size: 48px;
}

.h3 {
  font-size: 36px;
}

.h4 {
  font-size: 24px;
}

.fz-1 {
  font-size: 20px;
}

.fz-2 {
  font-size: 16px;
}
.fz-3 {
  font-size: 14px;
}

/* container */
.container-header {
  max-width: 1320px;
  padding: 0px 12px;
  margin: 0 auto;
}

.container {
  max-width: 1320px;
  padding: 0px 12px;
  margin: 0 auto;
}

.container-footer {
  max-width: 1320px;
  padding: 0px 12px;
  margin: 0 auto;
}

/* flex */
.d-flex {
  display: flex;
}

/* padding */
.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.mb-2 {
  margin-bottom: 8px;
}
